body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.circular {
        width: 304px;
        height: 236px;
        border-radius:150px;
        -webkit-border-radius: 170px;
        -moz-border-radius: 150px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        background: url(/img/galo.jpg) no-repeat;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}
