@{
    ViewBag.Title = "About";
}

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class=" text-center">
                <h2 class="section-heading" style="text-shadow: 3px 3px black; font-size: 50px; color: white">Computer Engineer & Software Developer</h2>
                <img class="img-circle" src="~/img/galo.jpg" alt="Profile Picture" align="middle" width="304" height="236">
                <hr class="light">
                <p class="text-faded" style="text-shadow: 2px 1px black; font-size: 20px; color: white">
                    <b>
                        I'm a highly dedicated, organized, and detail-oriented individual with excellent technical, analytical, and communication skills.
                        Motivated and self-driven, I like to always push my limits and see how far I can get.<br /><br /> I'm originative of Mexico,
                        and because I embrace my ethnical background, I've come to appreciate other people's backgrounds and culture: giving me the ability to easily
                        transcending cultural differences. I speak both English and Spanish fluently, and much enjoy my country's cuisine more than others.<br /><br />
                        Technology and information have always been my passion and what better to combine them than through programming.
                    </b>
                </p>
            </div>
        </div>
    </div>
</section>