@{
    ViewBag.Title = "Contact";
}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Have a project in mind?</h2><hr class="primary">
                <h3><b>Great!</b></h3><br />
                <h3> Let's Get In Touch!</h3>
            </div>
        </div><br /><br />
        <div class="row" style="padding-top: 40px">
            <div class="col-lg-4 text-center">
                <p><a href="#"><i class="fa fa-phone-square fa-4x wow bounceIn"></i></a></p>
                <p class="text-muted">(704) 737-9893</p>
            </div>
            <div class="col-lg-4 text-center">
                <p><a href="https://www.linkedin.com/in/galo-lopez-512b8697"><i class="fa fa-4x fa-linkedin-square wow bounceIn"></i></a></p>
                <p class="text-muted">8430 University Executive Park Dr. Suite 650<br /> Charlotte, NC 28262</p>
            </div>
            <div class="col-lg-4 text-center">                
                <p><a href="mailto:galolopez18@gmail.com"><i class="fa fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i></a></p>
                <p class="text-muted">galolopez18@gmail.com</p>
            </div>
        </div><br /><br />
    </div>
</section>