
@{
    ViewBag.Title = "Profile";
}

<section id="services" class="container">
    <div class="modal fade text-center" id="REFERENCES" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3><b>PROFESSIONAL REFERENCES</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/img/andrew.jpg" />
                        </div>
                        <div class="col-sm-9">
                            <center><h3><b>Andrew Jensen</b></h3></center>
                            <center><p>Head of Engineering at <br /> Big Monocle</p></center>
                            <div class="row">                                
                                <a href="https://www.linkedin.com/in/andrew-jensen-202332b" title="LinkedIn Account">
                                    <i class="fa fa-4x fa-linkedin-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                                </a>
                                <p class="text-muted">ajansen@coderfoundry.com</p>
                            </div>
                        </div>
                    </div><br /><hr /><br />
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/img/antonio.jpg" width="160" />
                        </div>
                        <div class="col-sm-9">
                            <center><h3><b>Antonio Raynor</b></h3></center>
                            <center><p>Directory of Education at <br /> Coder Foundry</p></center>
                            <div class="row">
                                <a href="https://www.linkedin.com/in/antonio-raynor-b7672746" title="LinkedIn Account">
                                    <i class="fa fa-4x fa-linkedin-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                                </a>
                                <p class="text-muted">araynor@coderfoundry.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
                <p>
                    <h3><b>Let's get started!</b></h3><br />
                    If you have and idea in mind to startup a business or would like to turn your project into a reality, I'm ready.<br />
                    Together we'll work to bring your plans to success!
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center" style="padding-top: 30px">
                <div class="service-box">
                    <a href="~/Content/Galo Lopez - Resume.pdf"><i class="fa fa-4x fa-file-text-o wow bounceIn text-primary" data-wow-delay=".2s"></i></a>
                    <h3>Resume</h3>
                    <p class="text-muted">Most UP-TO-DATE Resume ready to go!</p>
                </div>
            </div>
            <div class="col-lg-6 text-center" style="padding-top: 30px">
                <div class="service-box">
                    <a href="#" data-toggle="modal" data-target="#REFERENCES"><i class="fa fa-4x fa-forward wow bounceIn text-primary" data-wow-delay=".1s"></i></a>
                    <h3>References</h3>
                    <p class="text-muted">Being the best means to be refered by the best!</p>
                </div>
            </div>
        </div>
        <div class="row">
        </div><br />
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Have a project in mind?</h2><hr class="primary">
                <h3> Let's Get In Touch!</h3>
            </div>
        </div>
        <div class="row" style="padding-top: 40px">
            <div class="col-lg-4 text-center">
                <p><a href="#"><i class="fa fa-phone-square fa-4x wow bounceIn"></i></a></p>
                <p class="text-muted">(704) 737-9893</p>
            </div>
            <div class="col-lg-4 text-center">
                <p><a href="https://www.linkedin.com/in/galo-lopez-512b8697"><i class="fa fa-4x fa-linkedin-square wow bounceIn"></i></a></p>
                @*<p class="text-muted">8430 University Executive Park Dr. Suite 650<br /> Charlotte, NC 28262</p>*@
            </div>
            <div class="col-lg-4 text-center">
                <p><a href="mailto:glopez19@live.com"><i class="fa fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i></a></p>
                <p class="text-muted">galolopez18@gmail.com</p>
            </div>
        </div><br /><br />
    </div>
</section>